.top-bar {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #0d102d;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 30px;
}

.link-logo {
  color: #fff;
  text-decoration: none;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #7444ff;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  fill: currentColor;
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  width: 50px;
  height: 50px;
  background-color: #1e1e2f;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, background-color 0.3s;
}

.user-icon:hover {
  background-color: #333;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.user-icon .icon {
  width: 24px;
  height: 24px;
  margin-right: 0px;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #1e1e2f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 10px;
  min-width: 150px;
}

.dropdown button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
}

.dropdown button:hover {
  background-color: #333;
}

body {
  padding-top: 60px;
}
