.movie-details {
  text-align: left;
  color: #fff;
  margin-top: 100px;
  min-height: 100vh;
}

.movie-header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0d102d;
  padding: 20px;
  box-sizing: border-box;
}

.movie-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.img-poster {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  z-index: 2;
}

.title {
  font-size: 26px;
}

.movie-info {
  position: relative;
  z-index: 2;
  width: 100%;
}

.synopsis {
  width: 100%;
  margin-top: 20px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  font-size: 16px;
}

.genres {
  margin-top: 10px;
}

.genre {
  background-color: #7444ff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  margin-right: 5px;
  display: inline-block;
}

.rating-runtime {
  margin-top: 10px;
  font-size: 14px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.rating {
  color: #10ab7b;
}

.runtime {
  color: #a4a4a4;
}

.release-date {
  color: #a4a4a4;
}

.separator {
  margin: 0 5px;
}

.buttons {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reaction-text {
  font-size: 16px;
  margin-bottom: 8px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.reaction-button {
  background-color: #283387;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.reaction-button:hover {
  background-color: #131740;
}

.icon {
  margin-top: 5px;
  width: 20px;
  height: 20px;
}

@media (min-width: 576px) {
  .synopsis {
    font-size: 17px;
  }

  .reaction-text {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .reaction-button {
    width: 50px;
    height: 50px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 24px;
  }

  .movie-header {
    flex-direction: row;
    align-items: flex-start;
  }

  .img-poster {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .synopsis {
    margin-top: 20px;
    font-size: 14px;
  }

  .reaction-text {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .reaction-button {
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 26px;
  }

  .synopsis {
    font-size: 16px;
    margin-top: 70px;
  }

  .reaction-text {
    font-size: 16px;
    margin-bottom: 14px;
  }

  .reaction-button {
    width: 50px;
    height: 50px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 26px;
  }

  .synopsis {
    font-size: 20px;
  }

  .reaction-text {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .reaction-button {
    width: 50px;
    height: 50px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1400px) {
  .movie-header {
    width: 100%;
  }

  .synopsis {
    width: 70%;
    margin-top: 70px;
    font-size: 18px;
  }

  .title {
    font-size: 26px;
  }

  .reaction-text {
    font-size: 18px;
  }

  .reaction-button {
    width: 50px;
    height: 50px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
